.LostWrapper{
    display: grid;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'header'
    ' body';
}

.LostHeader{
    display: grid;
    grid-area: header;
    place-content: center;
}
.LostBody{
    display: grid;
    grid-area: body;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.LostListing{
    display: grid;
    background-color: rgb(232, 232, 232);
    grid-template-columns: auto 1fr 2fr 1fr 1fr;
    margin-bottom: 20px;
    border-radius: 15px;
}
.LostListing:hover{
    box-shadow: 0 0 40px  rgb(58, 37, 49);}

.LostImg{
    display: grid;
    height: 30vh;
    width: 30vh;
    background-color: pink;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

}
.LostPicture{
    height: auto;
    width: auto;
    background-color: pink;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: fit;
    object-position: center;

}

.Listinginfo{
    display: grid;
    place-content: center;
}
.Listinginfo h3{
    margin: 0%;
}
.Listinginfo h4{
    margin: 0%;
}

