.HomeBrowseBody{
    display: grid;
    width: 90vw;
    justify-self: center;
    grid-template-columns: 1fr 6fr 6fr 6fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    '... bpet blocal bitem ...';
    grid-gap: 4px;
}
.HomeBrowseBody div{
    height: 20vh;
    color: white;
}
.BrowsePet, .BrowseLocal{
    display: grid;
    grid-area: bpet;
    place-content: center;
    background-color: rgb(28, 38, 43);

}

.BrowseLocal{
    display: grid;
    grid-area: blocal;
    place-content: center;
    background-color: rgb(28, 38, 43);

}

.BrowsItem{
    display: grid;
    grid-area: bitem;
    place-content: center;
    background-color: rgb(28, 38, 43);
}

.BrowsePet:hover, .BrowseLocal:hover, .BrowsItem:hover {
    background-color: darksalmon;
}