.SearchViewContainer{
    background-color: rgb(255, 255, 255);
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
}

 .PetResults, .ItemResults{
     display: grid;
    background-color: rgb(255, 255, 255);
    border: solid;
    max-width: 90vw;
    min-height: minmax(180px, 1fr);
    max-height: 70vh;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    row-gap: 5px;
    height: fit-content;
}

.SearchListing{
    display: grid;
    height: 20vh;
    max-height: minmax(180px, auto);
    min-height: minmax(180px, auto);
    max-width: minmax(180px, auto);
    min-width: minmax(180px, auto);
    background-color: rgb(255, 255, 255);
    color:rgb(35, 55, 71);
    place-content: center ;
}

.SearchListingImage{
    display: grid;
    height: 160px;
    max-height: 160px;
    max-width: 180px;
    min-width: 160px;
    width: 19vh;
    background-color: rgb(28, 36, 46);
    color: white;
    place-content: center;
}

.SearchListingName{
    display: grid;
    place-content: center;
}