.SearchByAnimalHeader{
    display: grid;
    place-content: center;
    background-color: rgb(226, 226, 226);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.MainWrapper{
    display: grid;
    place-content: center;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
}
.SearchByAnimalHeader h2{
    margin: 0%;
}

.AnimalCircleWrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    
}
.CircleSection{
    display: grid;
    background-color: rgb(226, 226, 226);
    place-content: center;
    height: auto;
    
}
.CircleImage{
    display: grid;
    width: 17vh;
    height: 17vh;
    background-color: white;
    clip-path: circle(50% at 50% 50%);
    place-content: center;


}
.CircleImage:hover{
    box-shadow: 0 0 20px rgb(0, 0, 0);
    display: grid;
    place-content: center;
background-image: linear-gradient(rgba(250, 128, 114, 0.399),rgba(39, 47, 75, 0.356));
}

.CatBar, .ItemBar, .DogBar{
    display: flex;
    max-width: 100vw;
    min-height: 240px;
    background-color: whitesmoke;
    overflow-x: auto;
}

.CatBarListing, .DogBarListing, .ItemBarListing{
    display: grid;
    background-color: rgb(50, 72, 83);
    place-content: center;
    margin-right: 8px;
    color: white;

}

.CatBarListingImage, .DogBarListingImage, .ItemBarListingImage{
    display: grid;
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    background-color: rgb(206, 206, 206);
    place-content: center;
    overflow: hidden;
}

.CatBarListingName,.DogBarListingName,.ItemBarListingName{
    display: grid;
    place-content: center;
}

.CatBarListing:hover, .DogBarListing:hover, .ItemBarListing:hover{
    box-shadow: 0 0 40px  rgb(0, 0, 0);
    background-color: rgb(255, 125, 81);
    color: rgb(0, 0, 0);
    font-weight: bolder;

}
.CircleImage img{
    width: 14vh;
    height: 14vh;
    display: grid;
justify-self: center;}